{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{{ title }} | {{ site_title|default:_("MoRent Admin") }}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link rel="icon" href="{% static 'morent_admin/img/brand-mark.svg' %}" type="image/svg+xml">
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'morent_admin/css/theme.css' %}">
{% endblock %}

{% block bodyclass %}{{ block.super }} morent-admin-shell{% endblock %}

{% block branding %}
  <div class="morent-branding">
    <a class="morent-branding__identity" href="{% url 'admin:index' %}">
      <span class="morent-brand-mark" aria-hidden="true">
        <img alt="" src="{% static 'morent_admin/img/brand-mark.svg' %}">
      </span>
      <span class="morent-branding__copy">
        <p class="morent-kicker">MoRent</p>
        <h1 id="site-name">{{ site_header }}</h1>
        <p class="morent-tagline">{{ morent_admin_tagline }}</p>
      </span>
    </a>

    <div class="morent-branding__meta">
      {% if morent_service_hours %}
        <span class="morent-branding__pill">{{ morent_service_hours }}</span>
      {% endif %}

      {% for channel in morent_contact_channels %}
        <span class="morent-branding__pill">
          <strong>{{ channel.label }}</strong>
          {{ channel.value }}
        </span>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block nav-global %}{% endblock %}
